.bashrc
.directory
.dockerignore
.env
.gcloudignore
.gitignore
.DS_Store
Dockerfile
requirements.txt

*.code-workspace
*.csv
*.log
*.odt
*.py[cod]
*.pdf
*.sql
*.sqlite
*.xlsx

__pycache__/

/.git
/.github
/.venv
/.vscode
/tests
/venv
